﻿<template>
    <div>
        <div v-if="isAddHandphone === false">
            <!--table-->
            <button class="btn btn-primary" type="button" @click="addNewHandphone">Add New Handphone</button>
            <input type="text" v-model="filterByName" @change="fetch()" />
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nama Handphone</th>
                        <th scope="col">Jumlah Handphone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(handphone,index) in handphones" :key="index">
                        <td>{{handphone.handphoneName}}</td>
                        <td>{{handphone.handphoneCount}}</td>
                        <td>
                            <a :href="'handphone/update?handphoneID='+handphone.handphoneID" class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger" @click="deleteEmployee(handphone.handphoneID)">
                                <fa-icon icon="trash-alt"></fa-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination" v-for="page in totalPage">
                        <li class="page-item">
                            <button @click="changePage(page)">{{page}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div v-if="isAddHandphone === true">
            <!--form-->
            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="insertHandphone">
                    <label class="col-form-label">Nama Handphone</label>
                    <validation-provider name="Name" rules="required|min:3|max:7" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newHandphone.handphoneName" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Jumlah Handphone</label>
                    <validation-provider name="Count" rules="required|numeric" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newHandphone.handphoneCount" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />
                    <button class="btn btn-primary" type="submit">
                        <fa-icon icon="check"></fa-icon>
                        Submit
                    </button>
                </form>
            </validation-observer>

        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { ValidationObserver } from 'vee-validate';
    import swal from 'sweetalert2';
    import { HandphoneServiceSingleton } from '../services/HandphoneService';//axios
    import { HandphoneService, HandphoneModel } from '../services/NSwagService'//nswag
    import { HandphoneModelTemp } from '../models/IHandphoneModel';

    @Component({
        created: async function (this: ListHandphone) {
            await this.fetch();
        }
    })

    export default class ListHandphone extends Vue {
        service: HandphoneService = new HandphoneService();
        serviceTest = HandphoneServiceSingleton;
        handphones: HandphoneModelTemp[] = [];

        isAddHandphone = false;

        newHandphone: HandphoneModel = {
            handphoneName: '',
            handphoneCount: 0,
        }

        filterByName = '';
        pageIndex = 1;
        itemPerPage = 3;
        totalData = 1;
        totalPage = 1;
        //untuk di refresh ulang
        async fetch(): Promise<void> {
            this.totalData = await this.serviceTest.getTotalData();
            this.totalPage = Math.ceil(this.totalData / this.itemPerPage);

            this.handphones = await this.serviceTest.getFilterData(this.pageIndex, this.itemPerPage, this.filterByName);
        }

        async changePage(page: number): Promise<void> {
            this.pageIndex = page;
            await this.fetch();
        }

        async getHandphones(): Promise<void> {
            this.handphones = await this.serviceTest.getAllHandphone();
        }

        async insertHandphone(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }
            await this.service.inserthandphone(this.newHandphone.handphoneName, this.newHandphone.handphoneCount);
            await this.fetch();
            swal.fire({
                title: 'Yeayy!',
                icon: 'success',
                text: 'Success insert new Handphones.'
            });
            this.isAddHandphone = false; // balikin ke tablenya

        }

        addNewHandphone(): void {
            this.isAddHandphone = true;
            return;
        }

        async deleteEmployee(handphoneId): Promise<void> {
            swal.fire({
                title: 'Are you sure?',
                text: "Delete this Handphone data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Delete it!'
            }).then(async (result) => {
                if (result.value) {
                    await this.serviceTest.deleteEmployee(handphoneId);
                    await this.fetch();
                    swal.fire(
                        'Deleted!',
                        'Your file has been Deleted.',
                        'success'
                    )

                }
            })
        }
    }
</script>
