﻿<template>
    <validation-observer ref="observer" v-slot="{validate,valid}">
        <form method="post" @submit.prevent="updateHandphone">
            <label class="col-form-label">Nama Handphone</label>
            <validation-provider name="Name" rules="required|min:3|max:7" v-slot="{errors}">
                <input class="form-control" type="text" v-model="newHandphone.handphoneName" />
                <span class="text-danger font-italic">{{errors[0]}}</span>
            </validation-provider>
            <br />

            <label class="col-form-label">Jumlah Handphone</label>
            <validation-provider name="Count" rules="required|numeric" v-slot="{errors}">
                <input class="form-control" type="text" v-model="newHandphone.handphoneCount" />
                <span class="text-danger font-italic">{{errors[0]}}</span>
            </validation-provider>
            <br />
            <button class="btn btn-primary" type="submit">
                <fa-icon icon="check"></fa-icon>
                Submit
            </button>
        </form>
    </validation-observer>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import swal from 'sweetalert2';
    import { HandphoneServiceSingleton } from '../services/HandphoneService';//axios
    import { HandphoneService, HandphoneModel } from '../services/NSwagService'//nswag
    import { ValidationObserver } from 'vee-validate';

    @Component({
        created: async function (this: UpdateHandphone) {
            await this.getSpecificHandphone();
        }
    })
    export default class UpdateHandphone extends Vue {
        service: HandphoneService = new HandphoneService();
        serviceTest = HandphoneServiceSingleton;

        newHandphone: HandphoneModel = {
            handphoneID: 0,
            handphoneName: '',
            handphoneCount: 0,
        }

        async getSpecificHandphone(): Promise<void> {
            const urlParams = new URLSearchParams(window.location.search);
            const handphoneID = urlParams.get('handphoneID')?.valueOf();
            if (handphoneID != null) {
                this.newHandphone = await this.service.getspecifichandphone(parseInt(handphoneID));
            }

        }

        async updateHandphone(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }
            swal.fire({
                title: 'Are you sure?',
                text: "Update this Handphone data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.service.updatehandphone(this.newHandphone.handphoneID, this.newHandphone.handphoneName, this.newHandphone.handphoneCount)
                    swal.fire(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                    ).then(function () {
                        window.location.href = '/handphone/index';
                    });
                }
            })
        }

    }
</script>
